<%content_for :content_page do%>
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa  fa-user"></i> <%=@user_work_experience.position%>
            <small class="pull-right"><b><%=@user_work_experience.company_name%></b>&nbsp;&nbsp;(<%="#{@user_work_experience.date_from} - #{UtilityHelper.display_as_present_if_null(@user_work_experience.date_to)}"%>)</small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Category</th>
              <th>Specific Skill</th>
              <th>Experience</th>
              <th>Last used</th>
            </tr>
            </thead>
            <tbody>
		            <tr>
		              <td>Embedded Software</td>
		              <td>Automotive Software: Car Navigation System</td>
		              <td>8 yrs.</td>
		              <td>2016-05-18</td>
		            </tr>
		            <tr>
		              <td>Operating Systems</td>
		              <td>Unix</td>
		              <td>12 yrs.</td>
		              <td>2016-06-15</td>
		            </tr>
		            		            
		            <tr>
		              <td>Programming and Scripting</td>
		              <td>Unix/Linux Shell (sh,csh,ksh)</td>
		              <td>5 yrs.</td>
		              <td>2017-09-30</td>
		            </tr>		            
		            <tr>
		              <td>Product Specific Technology : Network Software</td>
		              <td>IT: Web/DBMS/Security</td>
		              <td>3 yrs.</td>
		              <td>2017-03-16</td>
		            </tr>		
		            <tr>
		              <td>Web Application Development</td>
		              <td>J2EE :  JSP/Servlets</td>
		              <td>7 yrs.</td>
		              <td>2017-02-14</td>
		            </tr>	
		            <tr>
		              <td>Web Application Development</td>
		              <td>J2EE :  Hibernate</td>
		              <td>4 yrs.</td>
		              <td>2015-02-14</td>
		            </tr>
		            <tr>
		              <td>Web Application Development</td>
		              <td>MS .NET Framework</td>
		              <td>8 yrs.</td>
		              <td>2015-02-14</td>
		            </tr>		            		            	                        		            
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      
      <!-- /.row -->
	  <%= link_to new_user_work_skill_path(user_work_experience_role_id:@user_work_experience_role.id), class: "btn btn-primary" do %>
		  <i class="fa fa-plus">  Add skills applied for this role </i>
	  <% end %>   	  
      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button>
        </div>
      </div>
    </section>
<%end%>
