<%content_for :tab_title do %>
	<li class="active"><a href="#add_work_experience_skill" data-toggle="tab">Add skills applied</a></li>
<%end%>
<%content_for :content_page do%>
	<%= render 'form', user_work_skill: @user_work_skill %>
<%end%>
