<%content_for :tab_title do %>
	<li class="active"><a href="#add_training" data-toggle="tab">New Training Attended</a></li>
<%end%>

<%content_for :content_page do%>
	<%= render 'form', user_training: @user_training %>
	<%= link_to 'Back', user_trainings_path %>
<%end%>
