<h1>Editing User Work Experience Role</h1>

<%= render 'form', user_work_experience_role: @user_work_experience_role %>

<%= link_to 'Show', @user_work_experience_role %> |
<%= link_to 'Back', user_work_experience_roles_path %>
